.job-description {
  line-height: 1.5;
  margin: 5px;
}

.job-description:last-of-type {
  margin-bottom: 30px;
}

a.job-btn.success.sticky,
a.job-btn.edit.sticky {
  width: 200px;
  position: fixed;
  top: 150px;
  right: 100px;
  z-index: 99;
}

.job-details-container {
  background-color: whitesmoke;
  width: 95%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 10px 20px 10px 15px;
  margin: 25px 0px 20px 5px;
  border-radius: 10px;
}

.job-detail-icon {
  font-size: 20px;
  margin: 0 8px 0 2px;
}

p.job-detail-text {
  color: var(--placeholder-color);
  margin: 10px 0 0 30px;
}

.job-detail-text.parenthesis-text {
  font-size: 12px;
  margin-top: 0;
}

.sticky-button {
  position: sticky;
  top: 5px;
  z-index: 999;
}

@media (min-width: 700px) {
  .job-details-container {
    width: 97%;
  }

  .top-job-head {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .job-head-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .interest-btn {
    width: 18%;
    margin: 5px;
    line-height: 2;
    text-align: center;
    justify-self: flex-end;
    position: absolute;
    top: 700px;
    right: 250px;
  }

  .bottom-job-head {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    justify-self: flex-end;
    padding-bottom: 10px;
    gap: 25px;
  }

  .bottom-job-head .flex-column {
  }
  /* a.job-btn.success.sticky,
  a.job-btn.edit.sticky {
    position: sticky;
    top: 5px;
  }

  .jobpost-container {
    position: relative;
    top: -40px;
    width: 90%;
  }

  .sticky-job-btn-container {
    position: sticky;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    top: 5px;
    right: 10px;
    z-index: 999;
  } */
}

@media (min-width: 1373px) {
  .interest-btn {
    top: 630px;
  }
}
