.applicant-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.348);
  margin-top: 20px;
  width: 92%;
}

.applicant-id-text {
  margin: 0;
  padding: 0;
}

.applicant-button {
  width: auto;
  margin: 3px;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.button-container {
  margin-top: 70px;
  margin-bottom: 30px;
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 20%;
}

.applicant-skill {
  background: var(--neutral-color);
  color: var(--placeholder-color);
  margin: 2px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
}

.skill-container {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.return-btn {
  display: inline-block;
  background-color: rgb(77, 93, 116);
  letter-spacing: 1.5px;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.348);
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}

.return-btn:hover {
  color: #fff;
  transform: translateY(-5px);
  background-color: rgb(16, 64, 132);
}

.applicant-attributes-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

@media (min-width: 750px) {
  .applicant-view-container {
    width: 60%;
    margin-top: 0;
  }
}
