@media (min-width: 750px) {
  .applicant-card {
    width: 45%;
    justify-content: space-evenly;
  }

  .applicant-card-p-span {
    display: flex;
    width: 100%;
    justify-content: flex-start;
  }

  .applicant-card .inner-job-container .card-btn-container {
    justify-content: center;
  }
}
