.on {
  color: var(--primary-gold);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 22px;
  padding: 0 0 0 0;
}
.off {
  color: transparent;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 30px;
  height: 22px;
  padding: 0 0 0 0;
}

.star {
  font-size: 24px;
  padding: 0;
  margin: 0;
}

.off .star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #989898;
}

.on .star {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-gold);
}

.match-p {
  margin-bottom: 0;
  margin-top: 0;
}

.filter-panel {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  margin-bottom: 20px;
}

.star-rating {
  margin-bottom: 20px;
}

.search-input {
  width: 91%;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

#search-icon {
  font-size: 18px;
  position: absolute;
  left: -10px;
  top: 10px;
  color: var(--primary-gold);
}

#location-icon,
#skill-icon,
#aoi-icon,
#ed-icon {
  font-size: 20px;
  color: var(--primary-gold);
}

#remote-input {
  height: 20px;
  width: 30px;
}

#remote-label {
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: -3px;
  margin-bottom: 8px;
}

hr {
  width: 100%;
  border-top: 2px solid var(--neutral-color);
}

h4 {
  font-size: 20px;
}

.match-span {
  font-size: 10px;
  margin-left: 0px;
}

.stevei-select__control {
  margin-bottom: 10px !important;
}

.multi-select {
  margin-bottom: 10px;
}

@media (min-width: 750px) {
  .filter-container {
    width: 90%;
  }

  .filter-panel {
    flex-direction: row !important;
    flex-wrap: wrap;
  }

  .search-input {
    padding: 0;
    height: 40px;
    align-self: center;
    margin: 0 20px 40px 0;
    width: 40%;
    padding-left: 40px;
  }

  #search-icon {
    top: 13px;
    left: 45px;
  }

  #remote-label {
    margin: 12px 20px;
    width: 200px;
  }

  .state-container {
    display: flex;
    margin-right: 50px;
  }

  .stevei-select__menu {
    top: inherit !important;
  }

  .stevei-select__control {
    margin-top: 0px !important;
  }

  .multi-select__control {
    margin-bottom: 0px !important;
    margin-right: 50px;
    /* min-height: 45px !important; */
  }

  .multi-select {
    /* height: 50px; */
  }

  .star-rating {
    margin-bottom: 3px;
  }

  p.star.on {
    width: initial;
  }

  .job-container {
    width: 100%;
    gap: 30px;
  }

  .inner-job-container p {
    width: 60%;
  }

  .inner-job-container {
    padding: 20px;
    width: 93%;
  }

  .card-btn-container {
    justify-content: flex-end;
    width: 93%;
  }
}
