.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.241);
  z-index: 99;
  font-size: 32px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
  text-align: center;
  z-index: 999;
}

.loading-overlay span {
  margin: 0 0 10px 0;
}
