.seafwa-container {
  z-index: 9;
  margin: 2px auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.seafwa-logo-container {
  width: 80%;
  margin: 0 auto;
  height: 85px;
  display: flex;
  justify-content: space-between;
}

.seafwa-nav-container {
  display: flex;
  position: relative;
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid #dfdfdf;
  justify-content: center;
}

.seafwa-navbar {
  margin: 0;
  justify-content: flex-start;
  display: flex;
}

.seafwa-menu-item {
  list-style-type: none;
  padding: 0.75rem 1.25rem;
}

.seafwa-menu-link {
  list-style-type: none;
  position: relative;
  text-decoration: none;
  color: #012c3a;
  background-color: transparent;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-transform: unset;
  font-weight: 700;
}

.seafwa-menu-item:hover {
  color: initial;
}

.dropdown::before {
  background-image: url(../../public/ico-arrow.png);
  content: "";
  margin-top: -0.1rem;
  position: absolute;
  top: 50%;
  right: -0.6rem;
  width: 0.44rem;
  height: 0.44rem;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
}

.seafwa-logo {
  width: 200px;
}

.minrc-title-container {
  width: 60%;
  margin: 0 0 0 8%;
}

/* .minrc-title-container {
  width: 60%;
  margin: 30px auto 30px 10%;
} */

.minrc-title-container h1 {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  border-bottom: none;
  font-family: "Merriweather", sans-serif;
  text-align: left;
}

.minrc-menu-container {
  width: 80%;
  margin: auto;
}

.minrc-menu-item {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #282d8b;
  text-decoration: none;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 6px 25px;
  margin-top: 5px;
  font-weight: 700;
  margin-right: 6px;
  line-height: 1.428571429;
  border: 1px solid transparent;
}

.minrc-menu-item:hover {
  border-color: #eeeeee #eeeeee #ddd;
  color: white;
}

.minrc-menu-item.active {
  background: transparent;
  border: 2px solid #282d8b;
  color: #282d8b;
  margin-left: 0;
}

.minrc-menu-item.active {
  cursor: default;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu-parent {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: whitesmoke;
  margin-top: 20px;
  z-index: 9;
}

.nav-menu-container {
  background-color: whitesmoke;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 850ms;
  margin-top: 20px;
}

.nav-menu {
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  box-shadow: #a8a8a8d4 0px 3px 4px 0px;
}

.nav-item {
  display: flex;
  justify-content: center;
  padding: 8px 0px 8px 8px;
  list-style: none;
  height: 75px;
  width: calc(90% / 6);
}

.nav-item a,
.nav-item button {
  text-decoration: none;
  color: #151414;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 3px 16px;
  border-radius: 4px;
  justify-content: center;
}

.nav-item a:hover,
.nav-item button:hover {
  background-color: #000000;
  color: #fff;
}

.nav-hamburger {
  background-color: #ffffff;
  height: 80px;
  padding-right: 10px;
  justify-content: flex-start;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 9;
  margin-left: -18px;
  display: none;
}

.nav-menu-toggle {
  display: none;
}

span {
  margin-left: 16px;
}

.hamburger,
.job-hamburger {
  display: none;
  padding: 7px 7px;
  top: 0;
  right: 0;
  cursor: pointer;
}

#job-menu {
  position: relative;
  box-shadow: #a8a8a8d4 0px 3px 4px 0px;
  z-index: 9;
}

.bar {
  height: 5px;
  width: 27px;
  background-color: black;
  margin: 5px 0;
  border-radius: 1px;
  transition: all ease 0.4s;
}

.hamburger.open {
  position: fixed;
}

.open,
.active {
  transform: translateX(0) !important;
}

.open .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.open .bar:nth-child(2) {
  opacity: 0;
}

.open .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
@media (min-width: 1010px) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 1010px) {
  .hamburger {
    display: block;
    position: absolute;
    z-index: 99;
  }

  .seafwa-nav-container {
    position: fixed;
    width: 200px;
    right: 0;
    justify-content: flex-end;
    transform: translateX(100%);
    transition: all ease 0.4s;
    border: none;
    z-index: 9;
  }

  .seafwa-navbar {
    width: 200px;
    background-color: whitesmoke;
    flex-direction: column;
  }
}

@media (min-width: 451px) {
  .minrc-title-container h1 {
    font-size: 50px;
    line-height: 60px;
  }
}

@media (max-width: 1450px) {
  .job-hamburger {
    display: block;
    position: absolute;
    z-index: 99;
  }

  .job-hamburger.open {
    position: fixed;
  }

  .nav-menu-toggle {
    background-color: #ffffff;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .nav-menu-container {
    width: auto;
    transform: translateX(-110%);
    position: absolute;
    margin-top: 0;
    z-index: 9999999999;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-item {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .nav-menu-container {
    width: 100%;
  }

  .mobile {
    display: initial;
  }

  .desktop {
    display: none !important;
  }
}

@media (min-width: 600px) {
}
