.search-input {
  width: 91%;
  padding-left: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

#search-icon {
  font-size: 18px;
  position: absolute;
  left: -10px;
  top: 10px;
  color: var(--primary-gold);
}

@media (max-width: 450px) {
}
