.success-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.return-btn {
  display: inline-block;
  background-color: rgb(77, 93, 116);
  letter-spacing: 1.5px;
  color: whitesmoke;
  border-radius: 10px;
  font-size: 16px;
  padding: 10px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.348);
  cursor: pointer;
  transition: all ease 0.3s;
  text-decoration: none;
  text-align: center;
  margin-top: 20px;
}

.return-btn:hover {
  color: #fff;
  transform: translateY(-5px);
  background-color: rgb(16, 64, 132);
}

.inner-tab-content {
  background-color: whitesmoke;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 40px 50px;
  width: 90%;
  margin: 25px 0px 20px 5px;
  border-radius: 10px;
}

.inner-tab-content h3.centered-text {
  margin-top: 0;
  font-size: 18px;
  text-align: center;
}

.inner-tab-content .centered-text.primary {
  padding: 10px;
  display: block;
  width: 200px;
  text-align: center;
  margin: 20px auto 10px auto;
}

p.centered-text {
  text-align: center;
}
