@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --primary-blue: #1a428a;
  --primary-gold: #c8b722;
  --gradient1-gold: #c0b460;
  --gradient2-gold: #cfc584;
  --gradient3-gold: #ded5a6;
  --menu-item-color: #012c3a;
  --text-color: #2c2c2c;
  --neutral-color: #cccccc;
  --placeholder-color: #555555;
  --accent-color: #5bc0de;
  --secondary-gray: #989898;
}
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}
h1,
h2,
h3 {
  font-family: "Merriweather", sans-serif !important;
  margin: 1rem 0.25rem;
}

p {
  margin: 1rem 0.25rem;
}

h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.App {
  max-width: 100vw;
}

.App h1 {
  margin-left: 20px;
}

html {
  color: var(--text-color) !important;
  max-width: 100vw;
}

input {
  width: 100%;
}

form {
  width: 100%;
}

a.job-btn {
  text-align: center;
  text-decoration: none;
}

.job-btn {
  display: inline-block;
  background-color: rgb(29, 123, 255);
  letter-spacing: 1.5px;
  color: whitesmoke;
  width: 42%;
  border-radius: 10px;
  font-size: 16px;
  padding: 7px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.348);
  cursor: pointer;
  transition: all ease 0.3s;
}

.job-btn:hover {
  background-color: rgb(26, 154, 218);
  box-shadow: 0px 15px 20px rgba(29, 142, 255, 0.4);
  color: #fff;
  transform: translateY(-5px);
}

.job-btn:disabled {
  background-color: gray;
  color: whitesmoke;
}

.job-btn.success {
  background-color: rgb(25, 135, 84);
}

.tab-content {
  background-color: #ededed;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.348);
  width: 94%;
  margin-left: 10px;
  padding: 10px 0 40px 8px;
}

.form-inner-cont {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-container {
  display: flex;
  width: 100%;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .main-title {
    margin-left: 7% !important;
  }

  .form-inner-cont {
    justify-content: center;
  }

  .tab-content {
    width: 85%;
    margin-left: 7%;
    padding: 50px;
  }

  .nav-tab-container {
    margin-left: 6.8%;
  }
}
